.site-footer {
    width: 100%;
    background-color: #2c0404;
    color: #f4e4bc;
    padding: 80px 0 30px;
    margin-top: 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 0 4%;
    width: 100%;
}